/* Base styles */
body {
  font-size: 14px;
  background-color: #FFA6C9;
  font-family: 'Roboto', sans-serif;
  }

/* Card styles */
.card {
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-block .rotate {
  margin: 0 auto;
}

.card:hover {
    transform: scale(1.05); /* Creates a zoom effect */
}

.card-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-inverse .card-block {
  color: #fff;
  padding: 15px;
}

/* Responsive layout adjustments */
@media (max-width: 768px) {
    .main {
        padding: 15px;
    }
    .card {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 48em) {
    .row-offcanvas {
        position: relative;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -33%;
    }
    .row-offcanvas-left.active {
        left: 33%;
        margin-left: -6px;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        height: 100%;
    }
}

@media screen and (max-width: 34em) {
    .row-offcanvas-left .sidebar-offcanvas {
        left: -45%;
    }
    .row-offcanvas-left.active {
        left: 45%;
        margin-left: -6px;
    }
    .sidebar-offcanvas {
        width: 45%;
    }
}

/* Additional styles */
.card-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    transform: rotate(-44deg);
}

.leftMenus a {
        font-size:17px;
        color: #FF007F;
        font-weight:bold;
}

.display-1 a {
    text-decoration: none;
}

.nav-link {
    color: white;
}
