/* Base styles */
body, html {
    background-color: pink;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Header styles */
header {
    text-align: center;
    padding: 100px 0;
}

/* Typography styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

p, a, nav {
    font-weight: 400;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.app-logo {
    width: 50px;
    height: auto;
}

.app-name {
    font-weight: 700;
    margin-left: 10px;
    color: #333;
}

/* Get started button styles */
.get-started-button {
    background-color: #FF1493;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.get-started-button:hover {
    background-color: #E0115F;
    transform: scale(1.05);
}

/* Intro section styles */
.intro .cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #FF1493;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

.intro h1, .intro p {
    transition: color 0.3s ease;
}

.intro h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #FF1493;
    margin-bottom: 0;
}

.intro p {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}

/* Hover effects */
.intro h1:hover, .intro p:hover {
    color: #E0115F;
}

.intro .cta-button:hover {
    background-color: #E0115F;
    transform: scale(1.05);
}

/* Features section styles */
.features {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 50px 0;
}

.features article {
    max-width: 300px;
}

.features img {
    width: 100%;
    height: auto;
}

/* About section styles */
.about {
    background-color: #00214D;
    padding: 50px;
    text-align: center;
    color: white;
}
/* Social media logo styles */
.social-logo {
    width: 35px;
    height: 30px;
    margin-right: 10px;
}

/* Media queries for responsive design */
@media (min-width: 576px) {
    header {
        padding: 50px 0;
    }
}

@media (min-width: 768px) {
    .features {
        flex-direction: row;
    }

    .features article {
        margin-bottom: 0;
    }

    nav {
        padding: 0 30px;
    }
}

@media (min-width: 992px) {
    header {
        padding: 150px 0;
    }

    .intro h1 {
        font-size: 60px;
    }

    .intro p {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    .features article {
        max-width: 350px;
    }
}
