{% include 'header.html' %}
<body style="background-color: pink;">
  <div class="container-fluid" id="main">
  {% include 'top_menus.html' %}
    <div class="row row-offcanvas row-offcanvas-left">
      {% include 'left_menus.html' %}
      <div class="col-md-9 col-lg-10 main">
        <!-- Spacing -->
        <h2></h2>
        <br>
        <br>
        <br>
        <!-- Cards Section -->
        <div class="row mb-3">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-inverse card-success" style="transition: transform 0.3s ease-in-out; cursor: pointer;">
              <div class="card-block bg-success" style="text-align: center; display: flex; flex-direction: column; justify-content: center;">
                <div class="rotate" style="margin: 0 auto;">
                  <i class="fa fa-user fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Total Teacher</h6>
                <h1 class="display-1"><a href="books.php">150</a></h1>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-inverse card-info" style="transition: transform 0.3s ease-in-out; cursor: pointer;">
              <div class="card-block bg-info" style="text-align: center; display: flex; flex-direction: column; justify-content: center;">
                <div class="rotate" style="margin: 0 auto;">
                  <i class="fa fa-twitter fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Total Student</h6>
                <h1 class="display-1"><a href="books.php">30</a></h1>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-inverse card-warning" style="transition: transform 0.3s ease-in-out; cursor: pointer;">
              <div class="card-block bg-warning" style="text-align: center; display: flex; flex-direction: column; justify-content: center;">
                <div class="rotate" style="margin: 0 auto;">
                  <i class="fa fa-share fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Present Today</h6>
                <h1 class="display-1"><a href="books.php">50</a></h1>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-inverse card-danger" style="transition: transform 0.3s ease-in-out; cursor: pointer;">
              <div class="card-block bg-danger" style="text-align: center; display: flex; flex-direction: column; justify-content: center;">
                <div class="rotate" style="margin: 0 auto;">
                  <i class="fa fa-list fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Absent Today</h6>
                <h1 class="display-1"><a href="issue_books.php">80</a></h1>
              </div>
            </div>
          </div>
        </div>
        <!-- Horizontal Rule -->
        <hr>
      </div>
    </div>
  </div>
</body>
</html>
