<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRBAS</title>
    <link rel="stylesheet" href="landing.css">
	 <link rel="shortcut icon" type="image/png" href="logo.png">
	  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Intro Section -->
    <header>
        <nav>
            <!-- Navigation bar content -->
        </nav>
        <div class="intro">
            <h1>Face Recognition Based Attendance System</h1>
			 <p>Revolutionizing Attendance Management with Cutting-Edge Face Recognition Technology</p>

			<img src="dashboard.jpeg" alt="Cover Image" class="cover-image">
            <a href="#Get started" class="cta-button">Get started</a>
        </div>
    </header>

    <!-- Feature Section -->
    <section class="features">
        <article>
            <img src="feature1.jpg" alt="Real-time Face Detection">
            <h2>Real-time Face Detection</h2>
            <p>Our system identifies individuals instantly, making the attendance recording process fast and effortless.</p>
        </article>
        <article>
            <img src="feature2.jpg" alt="Seamless Integration">
            <h2>Seamless Integration</h2>
            <p>FRBAS fits perfectly into your existing workflow, complementing your operational ecosystem without the need for complex setups.</p>
        </article>
        <article>
            <img src="feature3.jpg" alt="Secure and Reliable">
            <h2>Secure and Reliable</h2>
            <p>Security is paramount; our system ensures your data is encrypted, stored, and managed with the highest security standards.</p>
        </article>
    </section>

    <!-- About Section -->
    <section class="about">
        <h2>About the Project</h2>
        <p>Driven by a desire to innovate the way educational institutions record attendance, FRBAS was conceived as a robust, user-friendly solution for accurate, secure, and time-efficient student tracking.</p>
        <p>This project is a culmination of my work as a software developer and my journey at Holberton School.</p>
        <a href="https://www.linkedin.com/in/israel-ewedairo-439bb5240">LinkedIn</a>
        <a href="https://github.com/Israelshecktar">GitHub</a>
        <a href="https://twitter.com/shecktar5">Twitter</a>
        <a href="https://github.com/Israelshecktar/seemeehere">Project Repository</a>
    </section>

    <footer>
        <!-- Footer content -->
    </footer>

    <script src="script.js"></script>
    <!-- Include Bootstrap JS for interactivity if needed -->
</body>
</html>
