{% include 'header.html' %}
<body style="background-color: pink;">
<div class="container-fluid" id="main">
  {% include 'top_menus.html' %}
  <div class="row justify-content-center">
    <div class="col-md-6 mt-4"> <!-- Added mt-5 for margin-top -->
      <h2 class="text-center">User Login</h2>
      <!-- Flash Messages Display -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-center">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form action="{{ url_for('login') }}" method="post">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Login</button>
          <p class="bottom">Don't have an account? <a class="bottom" href="{{url_for('register')}}">Register here</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
